# This is a basic workflow to help you get started with Actions

name: deploy

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches:
      - main

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  SSH:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Run scripts in server
        uses: appleboy/ssh-action@master
        with:
          key: ${{ secrets.SSH_KEY }}
          # keygen으로 생성한 rsa키 중 공개키(.pub)를 넣어줍니다.
          host: ${{ secrets.HOST }}
          # 퍼블릭 IPv4 DNS를 넣어준다.
          username: ${{ secrets.USER }}
          # 서버 접속 계정명
          # 하단의 스크립트는 오류나 사용자 상황에 따라 다르게 넣어준다.
          script: |
            cd ~
            cd cidiPrac
            git reset --hard
            git fetch
            git pull