# This is a basic workflow to help you get started with Actions

name: deploy

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches:
      - main

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  SSH:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Run scripts in server
        uses: appleboy/ssh-action@master
        with:
          key: ${{ secrets.SSH_KEY }}
          # .pem키를 aws ec2 ~/.ssh/ 하위에 같은 이름으로 작성해준다.
          host: ${{ secrets.HOST }}
          # 퍼블릭 IPv4 DNS를 넣어준다.
          username: ${{ secrets.USER }}
          # 숫자로 된 aws 사용자 이름을 넣어준다.
          # 하단의 스크립트는 오류나 사용자 상황에 따라 다르게 넣어준다.
          script: |
            cd ~
            cd cidiPrac
            git reset --hard
            git fetch
            git pull